<!-- footer.html -->
 {% load static %}
<footer class="bg-dark text-light py-4">
    <div class="container">
        <div class="row">
            <!-- Section About the App -->
            <div class="col-md-4">
                <h5>About SurveyMaster</h5>
                <p>
                    SurveyMaster is your go-to platform for creating and participating in insightful surveys.
                    Empower your decisions with real data and make a difference by contributing to various polls.
                </p>
            </div>

            <!-- Quick Links -->
            <div class="col-md-2">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Home</a></li>
                    <li><a href="#" class="text-light">Surveys</a></li>
                    <li><a href="#" class="text-light">Create Survey</a></li>
                    <li><a href="#" class="text-light">Contact Us</a></li>
                </ul>
            </div>

            <!-- Resources -->
            <div class="col-md-2">
                <h5>Resources</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light">Help Center</a></li>
                    <li><a href="#" class="text-light">Privacy Policy</a></li>
                    <li><a href="#" class="text-light">Terms of Service</a></li>
                    <li><a href="#" class="text-light">FAQ</a></li>
                </ul>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4">
                <h5>Connect With Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" class="text-light">
                            <i class="fab fa-facebook fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-light">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-light">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="text-light">
                            <i class="fab fa-instagram fa-2x"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Copyright Section -->
        <div class="row mt-3">
            <div class="col text-center">
                <p>&copy; 2025 SurveyMaster. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!-- Optional: CSS Styling for the footer -->
<style>
    footer {
        background-color: #182848;
        color: #fff;
    }
    footer a {
        text-decoration: none;
        color: #fff;
    }
    footer a:hover {
        text-decoration: underline;
        color: #f39c12;
    }
</style>
